body {
  background-color: #282C34;
}

table {
  width: 100%;
  border-style: solid;
  border-color: #31363F;
}

th {
  color: #a8a8a8;
  font-family: 'Arial', Gadget, sans-serif;
  font-weight: 20;
  text-align: left;
  font-size: 14px;
}

ul, ol {
  margin-left: 40px;
}

h1, h2, h3, p, li {
  color: #a8a8a8;
  font-family: 'Arial', Gadget, sans-serif;
  font-weight: 50;
}

h1, h2, h3 {
  margin-left: 20px;
}

p{
  margin-left: 40px;
  margin-right: 100px;
}

pre {
  background-color: #31363F;
  border-radius: 5px;
  color: #9FB2A3;
  margin-left: 0px;
  width: 100%;
}

a {
  color: #487FF8;
  text-decoration: none;
}

a.heading {
  color: #a8a8a8;
}

thead {
  border-style: solid;
  border-color: #31363F;
}

.string {
  color: lightgreen;
}

.keyword {
  color: orange;
}

.p_keyword {
  color: rgb(188,120,189);
}

.comment {
  font-style: oblique;
  color: #696969;
}

#header {
  width: 100%;
  height: 50px;
  background-color: #1F2228;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 10000;
  opacity: 0.9;
  display: inline-block;
}

#header-image {
  position: absolute;
  top: 5px;
  left: 5px;
}

#header-text {
  position: absolute;
  left: 3%;
  top: 3px;
  margin-top: 0px;
  color: #686868;
}

#header-backtotop {
  position: absolute;
  right: 5px;
  top: 5px;
}
